.gradle/
build/
*/build/

local.properties

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/

*.iml

.DS_Store

/captures/
.externalNativeBuild/
.cxx/

*.jks
*.keystore